---
import Layout from '../layouts/Layout.astro';
import Welcome from "../components/Welcome";
import Skills from "../components/Skills";
import Links from "../components/Links";
import Projects from "../components/Projects";
---

<Layout title="Jared Wyce">
  <main class="bg-neutral-900 flex flex-col justify-center items-center relative">
    <div class="max-w-4xl w-full h-screen flex justify-center items-center">
      <Welcome client:only />
    </div>
    <div class="h-screen w-full flex items-center justify-center">
      <Skills client:only />
    </div>
    <div class="h-screen w-full flex items-center justify-center">
      <Projects client:only />
    </div>
    <div class="h-screen w-full flex items-center justify-center">
      <Links client:only />
    </div>
  </main>
</Layout>